<!-- Copyright Start -->
<div class="container-fluid bg-dark text-body copyright py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
              &copy; <a class="fw-semi-bold" href="#">{{site.title}}</a>, Tous droits reservés.
          </div>
          <div class="col-md-6 d-flex justify-content-evenly text-center text-md-start mb-3 mb-md-0">
            <a href="{{ '/mentions-legales' | relative_url }}">Mentions légales</a>
            <a href="{{ '/conditions-generales-de-ventes' | relative_url }}">Conditions générales de ventes</a>
            </div>
          <div class="col-md-3 text-center text-md-end">
              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Site développé <a class="fw-semi-bold" href="https://htmlcodex.com">par J.L</a>
          </div>
      </div>
  </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/parallax/parallax.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Si masonry alors stylesheet-->
{% if page.javascript %}
<script src="{{ page.javascript }}"></script>
<script>
  FlexMasonry.init('.grid-masonry', {
    responsive: false,
    numCols: 3
});
</script>
{% endif %}

<!-- Template Javascript -->
<script src="assets/js/main.js"></script>

<!------
Brevo <= cf header.html
-->

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';
  window.LOCALE = 'fr';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

  window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

  window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




  window.translation = {
    common: {
      selectedList: '{quantity} liste sélectionnée',
      selectedLists: '{quantity} listes sélectionnées'
    }
  };

  var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>


<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->
</body>

</html>