<!-- Barre newsletter-->
<div id="barre-newsletter">
    <p>Pour rester au courant des prochains stages et activités, rejoignez la NEWSLETTER Petite Nature <a href="/#abonnement-newsletter">en cliquant sur ce lien.</a></p>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
  <a href="/" class="navbar-brand d-flex align-items-center">
      <p class="h1 m-0">Terra Loca</p>
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="{{ '/' | relative_url }}" class="nav-item nav-link">Accueil</a>
        <a href="{{ '/l-association' | relative_url }}" class="nav-item nav-link">L'association</a>
        <a href="{{ '/#rencontres' | relative_url }}" class="nav-item nav-link">Les rencontres</a>
        <a href="{{ '/#adherer' | relative_url }}" class="nav-item nav-link">Adhérer</a>
        <a href="{{ '/#nous-contacter' | relative_url }}" class="nav-item nav-link">Contact</a>


          <!--<div class="nav-item dropdown">
            <a href="/le-stage" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Le stage</a>
            <div class="dropdown-menu bg-light m-0">
                <a href="/le-stage#sabriter" class="dropdown-item">S'abriter</a>
                <a href="/le-stage#cueillir" class="dropdown-item">Cueillir</a>
                <a href="/le-stage#faire-un-feu" class="dropdown-item">Faire un feu</a>
                <a href="/le-stage#cuisine-sauvage" class="dropdown-item">Cuisine Sauvage</a>
                <a href="/le-stage#le-groupe" class="dropdown-item">Le groupe</a>
                <a href="/le-stage#legerete" class="dropdown-item">Légèreté</a>
                <a href="/le-stage#itinerance" class="dropdown-item">Itinérance</a>
                <a href="/le-stage#ecologie-sensible" class="dropdown-item">Écologie sensible</a>
            </div>
          </div>-->          

      </div>
  </div>
</nav>
<!-- Navbar End -->
