/********** Template CSS **********/
:root {
    --primary: #5B8C51;
    --secondary: #EDDD5E;
    --light: #F7F7F7;
    --dark: #404A3D;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: url(../img/banner.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 5px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 6px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** About ***/
.about-experience {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -45px;
    bottom: -45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*** Service ***/
.service-item {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
}

.service-item .service-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    z-index: 1;
}

.service-item .service-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s ease-out;
    z-index: 2;
}

.service-item:hover .service-img::after {
    width: 0;
    left: auto;
    right: 0;
}

.service-item .service-text .service-icon {
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-top: -70px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border-radius: 140px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}

.service-item .service-text h5,
.service-item .service-text p {
    transition: .5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
    color: #FFFFFF;
}

.service-item .service-text .btn {
    color: var(--secondary);
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .25);
}

.service-item .service-text .btn:hover {
    color: var(--dark);
    background: var(--secondary);
}


/*** Product ***/
.product-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    padding-top: 60px;
    transition: .5s;
}

.product-item:hover .product-overlay {
    opacity: 1;
    padding-top: 0;
}


/*** Team ***/
.team-item {
    position: relative;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.team-item .btn {
    border-color: transparent;
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}


/*** Testimonial ***/
.testimonial-img {
    position: relative;
    min-height: 400px;
}

.testimonial-img::after {
    position: absolute;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 200px;
    color: #EEEEEE;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.testimonial-img img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.testimonial-img img:nth-child(1) {
    top: 0;
    left: 0;
}

.testimonial-img img:nth-child(2) {
    top: 60%;
    left: 20%;
}

.testimonial-img img:nth-child(3) {
    top: 20%;
    left: 60%;
}

.testimonial-img img:nth-child(4) {
    bottom: 0;
    right: 0;
}

.testimonial-img img .animated.pulse {
    animation-duration: 2s;
}

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border-radius: 45px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
    color: var(--dark);
}


/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #B0B9AE;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}



/* Perso */

.slim-menu {
    height: 50px; /* Ajustez la hauteur souhaitée pour le menu "slim" */
    transition: height 0.3s ease; /* Animation de transition fluide */
}

body {
    scroll-behavior: smooth;
}

p {
    font-family: "Montserrat";
}

p.h1,
h1,
h2,
h3,
.h1,
.h2,
.h3,
.section-title {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

h1:not(.titre-accueil),
.section-title {
    color: darkgreen !important;
}

h2,
.h2 {
    font-size: 2.5rem;
    color: darkgreen !important;
}

h3,
.h3 {
    font-size: 1.25rem;
    color: darkgreen !important;
}

.navbar {
    padding-top: 1rem;
}

.shadow-sm {
    box-shadow: none !important;
}

.info-bulle{
    height: 50px;
    display: inline-block;
    line-height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 1rem;
    margin-left: 0;
    position: relative;
    font-size: 1rem;
    text-align: center;
}

.info-bulle.bg-primary {
    background-color: #5B8C51 !important;
    color: #EDDD5E;
}

.info-bulle.bg-secondary {
    color: #5B8C51;
    background-color: #EDDD5E;
}


/* menu */

.subitem{
    padding-left: 10%;
}

.not-clickable{
    pointer-events: none;
}

/* stage presentation accueil */

.icones {
    max-width: 50px;
}


/* sinscrire */
.lien-inscription-accueil {
    /*width: 300px;*/
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
    font-size: 1rem;
    text-align: center;
}

.lien-inscription-accueil.bg-primary {
    color: #EDDD5E;
}

.lien-inscription-accueil:hover {
    top: -2px;
    text-shadow: 1px 0 0 currentColor;
}


/*****
* IMAGE
******/

.grid-masonry img{
    padding: 10px 0px;
}


#hover-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Cache le texte par défaut */
    pointer-events: none; /* Évite les interactions avec le texte */
    white-space: nowrap; /* Empêche le texte de se casser en plusieurs lignes */
    z-index: 1000; /* Assure que le texte est au-dessus de l'image */
}

/*****
* ACCUEIL
*****/

#bandeau-accueil {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#bandeau-accueil h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 40px;
}

.accueil-nuage-mots{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.accueil-nuage-mots div{
    flex-wrap: wrap;
}

.accueil-nuage-mots div p{
    font-size: .9rem;
    width: 15%;
    text-align: center;
    font-family: "Fredericka the Great", serif;
}

.accueil-nuage-mots div p:nth-child(2n){
    transform: rotate(-1deg);
}

.accueil-nuage-mots div p:nth-child(2n+1){
    transform: rotate(1deg);
}

.accueil-nuage-mots div p:nth-child(4n){
    transform: rotate(1deg);
}

@media all and (min-width:968px){
    .accueil-nuage-mots div p{
        font-size: 1.2rem;
    }
}

@media all and (max-width:968px){
    .accueil-nuage-mots div p{
        width: 33%;
    }
    .accueil-nuage-mots div p:nth-child(2n){
        display: none;
    }
}

/*** accueil activites ***/

#accueil-activites > .row > div{
    display: flex;
    align-items: stretch;
}

#accueil-activites article{
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#accueil-activites article h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/****
 * page STAGE
 ****/
@media all and (min-width:992px) {
    html#le-stage {
        scroll-snap-type: y mandatory;
    }

    #page-stage-survie-douce section {
        block-size: 100%;
    }

    #page-stage-survie-douce section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #le-stage {
        scroll-padding-top: 0px;
        /* scroll-padding-top when scrolling up */
    }

    #le-stage.scrolling-up {
        scroll-padding-top: 100px;
        /* scroll-padding-top when scrolling up */
    }
}

#page-stage-survie-douce section h3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#page-stage-survie-douce section .text-stage {
    padding: .5rem;
}

#page-stage-survie-douce section .col-md-6:not(.text-stage) {
    text-align: center;
}

#page-stage-survie-douce img {
    border-radius: 5px;
}

.fleche-bas{
    font-size: 40px;
}

.stage-inscription-bulle{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
}

.stage-inscription-bulle p{
    margin-bottom: .5rem;
}


/*** page-stage-plante-bio-indicatrice ***/

#page-stage-plante-bio-indicatrice ul li{
    text-align: left;
}


/* s'inscrire */

.w-20 {
    width: 20%;
}

.bg-light .section-title {
    z-index: 0;
}

#le-materiel h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

table tr.color-1{
    background-color: #F8EDE3;
}

table tr.color-2{
    background-color: #DEF9C4;
}

table tr.color-3{
    background-color: #F8EDE3;
}

table tr.color-4{
    background-color: #ECFFE6;
}

table tr.color-5{
    background-color: #fafafa;
}

/* a propos */

#qui-suis-je h3{
    margin-bottom: 20px;

}

#qui-suis-je img{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 500px;

}

#les-temoignages figure{
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

#les-temoignages .blockquote{
    font-size: 1rem;
}

#les-temoignages .blockquote-footer{
    font-style: italic;
    font-size: 1.3rem;
}

#portfolio .portfolio-link{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background: repeating-linear-gradient(
  -45deg,
  rgb(244, 244, 244),
  rgb(244, 244, 244) 10px,
  white 10px,
  white 20px
);
}

/****
* Image lightbox
****/

#page-ateliers-hebdo a,
#page-stage-plante-bio-indicatrice a,
a.portfolio-link{
    overflow: hidden;
}

#page-ateliers-hebdo img,
#page-stage-plante-bio-indicatrice img,
.portfolio-link img{
    transition: all .2s ease;
}

#page-ateliers-hebdo img:hover,
#page-stage-plante-bio-indicatrice img:hover,
.portfolio-link img:hover{
    transform: scale(1.02);
    transition: all .4s ease;
}

/* lightbox Photo popup */
.lb-details{
    text-align: center !important;
}

.lb-details .lb-caption{
    font-size: 16px;
}

.lb-details .lb-number{
    display: none !important;
}

/* formulaire */

.form-select > option:first-child{
    display: none;
}

/* barre haute newsletter brevo */

#barre-newsletter{
    width: 100%;
    background-color: #5B8C51;
    text-align: center;
    color: white;
    padding: .5rem .1rem .5rem .1rem;
}

#barre-newsletter p{
    margin-bottom: 0;
}

#barre-newsletter a{
    color: white;
    text-decoration: underline;
}

/* Page confirmation Newsletter */
#confirmation-newsletter-box{
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#confirmation-newsletter-box > *{
    margin-bottom: 3rem;
}

#confirmation-newsletter-box a{
    padding: 10px 15px;
    background-color: #5B8C51;
    color: white;
}

/* BREVO - Newsletter */

@font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  }

  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container textarea::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container a {
    text-decoration: underline;
    color: #2BB2FC;
  }
